<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Play</servlet-name>
        <servlet-class>za.ac.tut.Controller.Play</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Game</servlet-name>
        <servlet-class>za.ac.tut.Controller.Game</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Start</servlet-name>
        <servlet-class>za.ac.tut.Controller.Start</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>End</servlet-name>
        <servlet-class>za.ac.tut.Controller.End</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>result</servlet-name>
        <servlet-class>za.ac.tut.Controller.result</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Play</servlet-name>
        <url-pattern>/Play.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Game</servlet-name>
        <url-pattern>/Game.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Start</servlet-name>
        <url-pattern>/Start.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>End</servlet-name>
        <url-pattern>/End.do</url-pattern>
    </servlet-mapping>
    <error-page>
        <exception-type>NullPointerException</exception-type>
        <location>/errorPage.jsp</location>
    </error-page>
    <servlet-mapping>
        <servlet-name>result</servlet-name>
        <url-pattern>/result.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
